::-moz-selection {
    color: #fff;
    background: #90a4ae;
}

::selection {
    color: #fff; 
    background: #90a4ae;
}

.my-main-card {
	position: relative;
}

.my-progress-bar {
	display: none;
	border-radius: 0; 
	left: 0;
	margin: 0; 
	position: absolute; 
	top: 0;
	z-index: 3;
}

.my-no-m-b {
	margin-bottom: 0 !important;
}

#processes_info_box {
	display: none;
}

.my-overlay {
	height: 100%;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
    background-color: rgba(255,255,255,0.5);
    bottom: 0;
    cursor: not-allowed;
    display: none;
    z-index: 2;
}

.my-inner-overlay {
	display: none;
	background-color: rgba(255,255,255,0.9);
	margin: 20px 20px 0 20px;
	padding: 20px 0;
}

.my-inner-overlay span {
	font-size: 24px
}

#error_modal, button, input, a {
	outline: none !important;
}

.my-gantt-graph {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	margin-bottom: 5px;
	overflow-x: auto;
	width: 100%;
}

.my-gantt-col {
	float: left;
	margin-bottom: 5px;
	width: 37px;
}

.my-gantt-col span {
	margin-left: 2px;
}


.my-gantt-square {
	width: 35px;
	height: 37px;
	border-bottom: 2px solid #cfd8dc; 
	border-left: 2px solid #cfd8dc;
}

.my-gantt-inner-square {
	width: 0%;
	height: 100%;
}

/*Scrollbar*/
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #eceff1; 
}
 
::-webkit-scrollbar-thumb {
    background: #cfd8dc; 
}

::-webkit-scrollbar-thumb:hover {
    background: #b0bec5; 
}
/*.Scrollbar*/

.my-switch .my-lever {
	margin-right: 0 !important;
}

.my-subtitle-square {
	border-radius: 2px;
	display: inline-block;
	height: 25px;
	margin-right: 5px;
	width: 25px;
}

.my-subtitle-line {
	border-radius: 1px;
	display: inline-block;
	height: 25px;
	margin-right: 5px;
	width: 2px;
}