.my-main-card {
	position: relative;
}

.my-progress-bar {
	display: none;
	border-radius: 0; 
	left: 0;
	margin: 0; 
	position: absolute; 
	top: 0;
	z-index: 3;
}

.my-no-m-b {
	margin-bottom: 0 !important;
}

#processes_info_box {
	display: none;
}

.my-overlay {
	height: 100%;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
    background-color: rgba(255,255,255,0.5);
    bottom: 0;
    cursor: not-allowed;
    display: none;
    z-index: 2;
}